HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea-working/
*.iws
*.iml
*.ipr



### VS Code ###
.vscode/
digital-agenda-ui/dist/
digital-agenda-ui/node_modules/


# Variabili d'ambiente 
.env
*.env.local

# Certificati SSL generati da Traefik
traefik/acme.json
